# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# MLflow
mlruns/
mlflow.db

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/

# Environment variables
.env

# Personal development notes
code_exp.txt